/* Color Theme Swatches in Hex */

$color-1: #FF4858;
$color-2: #1B7F79;
$color-3: #00CCC0;
$color-4: #72F2EB;
$color-5: #747F7F;

/* Color Theme Swatches in HSLA */
$borderColor-1: hsla(343, 96, 43, 1);
$borderColor-2: hsla(213, 96, 28, 1);
$borderColor-3: hsla(45, 96, 48, 1);
$borderColor-4: hsla(33, 96, 48, 1);
$borderColor-5: hsla(0, 96, 43, 1);


