@import "./variables";

.navbar{
    display: flex;
    justify-content: space-evenly;

    a{
        color: $color-1;
        text-decoration: none;
        font-size: 1.8rem;
        padding: 1rem;
        &:hover{
            color: $color-2;
        }
    }




}